﻿@model WebApp.Models.User

@{
    ViewBag.Title = "Let's create a User";
}

<div class="card bg-light">
    <article class="card-body mx-auto" style="max-width: 400px;">
        <h4 class="card-title mt-3 text-center">Create Account</h4>

        <form method="post">
            <div>
                @Html.ValidationMessageFor(m => m.Firstname, "", new {@class = "text-danger"})
            </div>
            <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                </div>
                @Html.TextBoxFor(m => m.Firstname, new { placeholder = "Firstname", @class = "form-control", maxlength="75" })
            </div>
            
            <div>
                @Html.ValidationMessageFor(m => m.Lastname, "", new { @class = "text-danger" })
            </div>
            <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                </div>
                @Html.TextBoxFor(m => m.Lastname, new { placeholder = "Lastname", @class = "form-control" })
            </div>
            
            <div>
                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
            </div>
            <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
                </div>
                @Html.TextBoxFor(m => m.Email, new { placeholder = "Email address", type = "email", @class = "form-control" })
            </div>
            
            <div>
                @Html.Raw(HttpUtility.HtmlDecode(Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" }).ToHtmlString()))
            </div>
            <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                </div>
                @Html.PasswordFor(m => m.Password, new { placeholder = "Password", @class = "form-control" })
            </div>
            
            <div>
                @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
            </div>
            <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                </div>
                @Html.PasswordFor(m => m.ConfirmPassword, new { placeholder = "Confirm password", @class = "form-control" })
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block"> Create Account  </button>
            </div>
        </form>
    </article>
</div>
